.linkCard {
  text-decoration: none;
  color: inherit;
}
.articleCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border: 1px solid rgb(197, 197, 197);
  /* #12203b */
  padding: 1.5rem;
  border-radius: 5px;
  background-color: #ffffff;
  transition: all 0.5s;
  /* transition: transform 1s; */
  cursor: pointer;
  min-width: 17rem;
  max-width: 22rem;
  box-shadow: 0.3rem 0.4rem 1rem rgba(0, 0, 0, 0.2);
  max-height: 28rem;
}
.articleCard:hover {
  transform: translatey(-10px);
  border-color: #050d24;
  /* border-color: #00c1fe; */
  /* background-color: #050d24; */
  /* color: white; */
}
.articleCard:hover .articleTitle {
  color: white;
  border-color: white;
  color: #0084ff;
  border-color: #0084ff;
}
.articleCard:hover .dateContainer {
  color: #004280;
}
.articleCard:hover .articleLabel {
  background-color: white;
  border-color: #ffffff;
  background-color: #050d24;
  color: white;
}
.articleTitle {
  text-align: center;
  color: #050d24;
  font-size: 2rem;
  padding: 10px 1.5rem;
  border-bottom: 1px solid #050d24;
  letter-spacing: 2px;
}
.articleText {
  color: #737373;
  align-self: flex-start;
  /* max-height: 9rem; */
  overflow: hidden;
}
.articleLabel {
  align-self: flex-start;
  padding: 4px 12px;
  font-size: 0.8rem;
  border: 1px solid #050d24;
  border-radius: 10px;
  color: #050d24;
}
.dateContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
}
.readtime {
  font-size: 0.8rem;
  font-family: Arial;
  font-style: italic;
  font-weight: 500;
  align-self: flex-start;
  /* color: #575757; */
  /* font-style: italic; */
}
