.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
@keyframes showModal {
  to {
    transform: scale(1);
  }
}
.modal {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  transform: scale(0);
  animation: showModal 0.3s forwards;
}
.modalTitle {
  color: rgb(0, 29, 97);
  background-color: rgb(255, 255, 255);
  font-size: 1.2rem;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
}
.closeModal {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  border-radius: 20px;
  cursor: pointer;
}
.blogForm .textarea {
  outline: none;
  resize: horizontal;
  width: 15rem;
  /* height: 5rem; */
  padding: 10px;
  background-color: white;
  border-radius: 4px;
  color: rgb(0, 14, 56);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  scrollbar-width: thin;
  scrollbar-color: rgb(8, 0, 71) white;
}
.blogForm .textarea[contenteditable]:empty::before {
  content: "This is your message";
  color: gray;
}
