/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@900;900&display=swap"); */
.header {
  color: rgb(255, 255, 255);
  z-index: 2;
  position: sticky;
  top: 0;
}
.header ul {
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}
.header1 {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: #000d17;
  padding: 0.4rem 8rem;
  border-bottom: 2px solid rgb(255, 255, 255);
}
.header2 {
  position: absolute;
  right: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #06122a;
  padding: 1rem;
  border-radius: 10px;
  border-bottom: 1px solid rgb(93, 93, 93);
}
.headerIcon {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 10px;
  transition: all 0.3s;
  color: rgb(255, 255, 255);
  border: 1px solid transparent;
}
.headerIcon:hover {
  background-color: #173b56;
  border-color: #0dc5ff;
}

.ulButtons li .userButton {
  color: white;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  color: #173b56;
  padding: 5px 15px;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: all 0.3s;
}
.ulButtons li .userButton:hover {
  color: white;
  background-color: #173b56;
  border-color: #0dc5ff;
}
.headerBlog {
  font-size: 1.6rem;
  /* font-weight: bold; */
  letter-spacing: 6px;
  color: #85d6b1;
}

#check {
  display: none;
}
.headerIcons {
  cursor: pointer;
  display: none;
  position: absolute;
  right: 1rem;
}
@media (max-width: 1400px) {
  .header1 {
    padding: 0.4rem 4rem;
  }
}
@media (max-width: 780px) {
  .headerIcons .closeIcon {
    display: none;
  }
  .headerIcons {
    display: inline-flex;
  }
  .headerItems {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    right: 0;
    width: fit-content;
    height: 0;
    border-bottom-left-radius: 20px;
    background-color: #070c1d;
    border: 1px solid #00e0ff;
    overflow: hidden;
    transition: 0.3s ease;
  }
  #check:checked ~ .headerIcons .menuIcon {
    display: none;
  }
  #check:checked ~ .headerIcons .closeIcon {
    display: inline-flex;
  }
  #check:checked ~ .headerItems {
    height: fit-content;
    padding: 2rem 4rem;
  }

  /*/ /*/
  .header1 {
    padding: 1rem 1rem;
  }
}
