/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@900;900&display=swap"); */

.header {
  color: rgb(255, 255, 255);
  position: relative;
}
.header ul {
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}
.header1 {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: #000e22;
  padding: 0.3rem 8rem;
  border-bottom: 1px solid rgb(172, 172, 172);
}
.header2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #06122a;
  padding: 1rem 10rem;
  border-bottom: 1px solid rgb(93, 93, 93);
}
.headerIcon {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 10px;
  transition: all 0.3s;
  color: rgb(255, 255, 255);
  border: 1px solid transparent;
}
.headerIcon:hover {
  /* color: rgb(255, 255, 255); */
  background-color: #173b56;
  border-color: #0dc5ff;
}

.ulButtons li .userButton {
  color: white;
  text-decoration: none;
  background-color: #173b56;
  padding: 5px 15px;
  border: 1px solid transparent;
  border-color: #0dc5ff;
  border-radius: 8px;
  transition: all 0.3s;
}
.ulButtons li .userButton:hover {
  color: white;
  background-color: #0099ff;
  border-color: rgb(255, 255, 255);
}
.headerBlog {
  font-size: 1.6rem;
  /* font-weight: bold; */
  letter-spacing: 6px;
  color: #85d6b1;
}
