.index {
  scrollbar-width: thin;
  scrollbar-color: blue black;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: thin;
}

/* Establece los colores del scrollbar */
::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 6px;
  border: 3px solid black;
}
